build: false
image: Visual Studio 2015
environment:
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"

#    CONAN_REFERENCE: pluginx/0.3.1
    CONAN_USERNAME: ${APPVEYOR_CONAN_USERNAME}
    CONAN_LOGIN_USERNAME: ${APPVEYOR_CONAN_LOGIN_USERNAME}
    CONAN_PASSWORD: ${APPVEYOR_CONAN_PASSWORD}
    


    matrix:
        - CONAN_VISUAL_VERSIONS: 14
          CONAN_BUILD_TYPES: Release
          CONAN_ARCHS: x86
          nodejs_arch: x86
        - CONAN_VISUAL_VERSIONS: 14
          CONAN_BUILD_TYPES: Debug
          CONAN_ARCHS: x86
          nodejs_arch: x86
        - CONAN_VISUAL_VERSIONS: 14
          CONAN_BUILD_TYPES: Release
          CONAN_ARCHS: x86_64
          nodejs_arch: x64
        - CONAN_VISUAL_VERSIONS: 14
          CONAN_BUILD_TYPES: Debug
          CONAN_ARCHS: x86_64
          nodejs_arch: x64


install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools bincrafters_package_tools
  - pip.exe install shell
  - conan user # It creates the conan data directory.

before_test:
  - ps: Install-Product node 10 $env:nodejs_arch
  - ps: npm install node-gyp -g
  - cmd: node-gyp install

test_script:
  - python build.py
